* {
    font-family: Helvetica, Arial, sans-serif
}

:root {
    --turq: rgb(0,171,179);
    --slate: rgb(60,64,72);
    --dkgrey: rgb(178,178,178);
    --ltgrey: rgb(234,234,234);
}

body{
    font-size: 20px;
    font-family: monospace;
    background-color: var(--slate);
}

#container{
    margin : 20px auto;
    background-color: var(--ltgrey);
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid var(--dkgrey);
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : var(--dkgrey);
}
#start:hover{
    border: 3px solid var(--turq);
    color : var(--turq);
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#answers{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.answer{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid var(--slate);
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.answer:hover{
    border : 2px solid var(--slate);
    font-weight: bold;
}

#timers{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 1.5em;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreboard{
    font-size: 1.5em;
    display: none;
}

#endbutton {
    display:none;
}

#quiz{
    display: none;
}

#end{
    margin : 20px auto;
    background-color: var(--ltgrey);
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}